<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <title>Edit Account</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper" id="top">
            <h4 class="brand-logo">Edit My Account</h4>
            <ul class="right " id="nav-mobile">
                <li class="">
                    <a href="/quotes">Back</a>
                </li>
                <li>
                    <a href="/reset">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="section">
            {% if messages %}
            <ul class="messages red-text">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>**{{ message }}**</li>
                {% endfor %}
            </ul>
            {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col l5">
                <form action="/editUser" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="first_name" id="fname" value="{{user.first_name}}">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="last_name" id="lname" value="{{user.last_name}}">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="email" id="email" value="{{user.email}}">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <button type="submit" class="btn hoverable">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>